<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="divitage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <divitage.Properties.Settings>
            <setting name="settingSavePathOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="settingCheckBeforeConvert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="settingImageSplitExtension" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="settingNameConvention" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="settingSplitFrameInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="settingInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="settingStartOrEndFrame" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="settingStartFrame" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="settingEndFrame" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="settingSavePath" serializeAs="String">
                <value />
            </setting>
        </divitage.Properties.Settings>
    </userSettings>
</configuration>
